<? if(locals.logged_in === true) { ?>
    <form action='/logout' method='post'>
        <button type='submit'>Logout</button>
    </form>
<? } ?>
<hr>
<a href='/' style='margin-right: 1em'>Home</a>
<a href='/about.html' style='margin-right: 1em'>About</a>
<a href='/admin' style='margin-right: 1em'>Admin Access</a>
</body>