<?- include('./partials/begin.ejs', { title : title}) ?>

<? if(locals.top_info_text !== undefined) { ?>
<p style='padding: 1em; border : 1em solid #ddd'>
    <?= top_info_text ?>
</p>
<? } ?>

<? if(locals.logged_in === false) { ?>
<h1>Apply:</h1>
<form method='post' action='/apply'>
    User name:
    <input
        type='text'
        name='user_name'
        minlength='4'
        <? if(locals.apply_user_name !== undefined) { ?>
            value='<?= apply_user_name ?>'
        <? } ?>
        required> &nbsp; > 3 characters [a-zA-z_], must begin with letter<br>

    Password:
    <input
        type='password'
        name='password_1'
        minlength='5'
        required> &nbsp; >= 5 chracters <br>

    Re-enter password:
    <input
        type='password'
        name='password_2'
        minlength='5'
        required><br>
    <input
        type='radio'
        name='role'
        value='developer'
        <? if(locals.apply_role === 'developer') { ?>
            checked='checked'
        <? } ?>
       >Developer<br>
    <input
        type='radio'
        name='role'
        value='client'
        <? if(locals.apply_role !== 'developer') { ?>
            checked='checked'
        <? } ?>
        >Client<br>

    Deposit amount: $
    <input
        type='number'
        name='deposit_amount'
        min='10' step='0.01'
        <? if(locals.apply_deposit_amount !== undefined) { ?>
            value='<?=apply_deposit_amount?>'
        <? } ?>
        required> &nbsp; >= $10<br>
    <p>
    Once you pay the stated deposit amount to super user the amount will be
    transferred to your account. You will have to pay additional 5% of stated amount
    which will be transferred to super user</p>
    <? if(locals.apply_error_text) { ?>
        <p class='error' style='color: red'><?= apply_error_text ?></p>
    <? } ?>
    <button
        type='submit'>Apply</button>
</form>

<hr>

<h1>Login:</h1>

<form method='post' action='/login'>
    User name:
    <input
        type='text'
        name='user_name'
        required><br>

    Password:
    <input
        type='password'
        name='password'
        required><br>
    <? if(locals.login_error_text) { ?>
        <p class='error' style='color: red'><?= login_error_text ?></p>
    <? } else { ?> <br> <? } ?>
    <button
        type='submit'>Login</button>
</form>

<? } else { ?>
    <ul>
        <li><a href='/profile'>Profile</a></li>
        <li><a href='/account'>Account</a></li>
        <? if(locals.role === true) { ?>
            <li><a href='/add_system_demand'>Post a System Demand</a></li>
        <? } ?>
    </ul>
<? } ?>

<hr>
<ul>
    <li><a href='/browse_system_demands'>Browse System Demands</li>
</ul>

<?- include('./partials/end.ejs') ?>