<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>View Applications</title>
    <script src='axios.min.js'></script>
    <style>
    .application
    {
        border-bottom : 1px solid #ddd;
        padding-bottom: 1em;
        padding-top: 1em;
    }
    .accept
    {
        margin-right: 1em;
    }
    .rejectReason
    {
        width : 100%;
    }
    </style>
</head>
<body>

    <% if(locals.applications) { %>
        <a style='float: right' href='/applications?end_session=true'>Log Out</a>
        <h1>Applications Pending Decision</h1>
        <div id='all_app'>

        <%
            for(let i = 0; i < applications.length; ++i) { %>
            <div class='application'>
                <b>User Name:</b><span class='user_name'>
                    <%= applications[i]._id.user_name %>
                </span><br>
                <b>Role:</b><% if(applications[i]._id.role == true) { %>
                    <span class='role'>Developer</span>
                <% } else { %>
                    <span class='role'>Client</span>
                <% } %><br>
                <b>Amount specified for deposit:</b>
                <span class='deposit_amount'>
                    $<%= applications[i].deposit_amount %>
                </span><br>
                <b>Date Applied:</b>
                <span class='creation_time'>
                    <%= new Date(applications[i]._id.creation_time) %>
                </span><br>
                <span id='<%=applications[i]._id._id%>'>
                    <a class='accept' href>Accept</a>
                    <a class='reject' href>Reject</a>
                    <a
                        class='cancel'
                        style='display : none' href>Cancel</a>
                    <textarea
                        class='rejectReason'
                        style='display: none'
                        placeholder='Your reason for applicaiton rejection...'>
                    </textarea>
                    <a
                        class='save'
                        style='display : none' href>Save</a>
                </span>
            </div>
    <%      } %>
        </div>
    <% } else { %>
        <form actions='/applications' method='post'>
        <input
            type='password'
            placeholder='Access Code'
            name='access_code'><br><br>
        <button
            type='submit'>Enter</button>
        <% if(locals.invalid) { %>
            <br><b style='color: red'>Invalid Access Code, try again</b>
        <% } %>
    </form>
    <% } %>

    <script>

    document.addEventListener('DOMContentLoaded', (event) =>
    {
        let decision = document.getElementById('all_app').getElementsByTagName('a');

        for(let i = 0; i < decision.length; ++i)
        {
            if(decision[i].className === 'accept')
            decision[i].addEventListener('click', (event) =>
            {
                event.preventDefault();

                decision[i].setAttribute('style', 'display : none');

                if(decision[i].className == 'accept')
                    decision[i+1].setAttribute('style', 'display : none');
                else
                    decision[i-1].setAttribute('style', 'display : none');

                decision[i].parentElement.parentElement
                .setAttribute('style', 'opacity: 0.5');

                axios.post
                (
                    '/decision',
                    {
                        user_id : decision[i].parentElement.id,
                        boolean : decision[i].className == 'accept' ? true : false
                    }
                )
                .then((result) =>
                {
                    console.log(result);
                })
                .catch((err) =>
                {
                    console.log('Error:\n', err);
                })
            });
            else if(decision[i].className === 'reject')
            decision[i].addEventListener('click', (event) =>
            {
                event.preventDefault();

                decision[i]
                .parentElement
                .getElementsByClassName('accept')[0]
                .setAttribute('style', 'display : none');

                decision[i]
                .parentElement
                .getElementsByClassName('cancel')[0]
                .removeAttribute('style');

                decision[i]
                .parentElement
                .getElementsByClassName('save')[0]
                .removeAttribute('style');

                decision[i]
                .setAttribute('style', 'display : none');

                decision[i].parentElement
                .getElementsByClassName('rejectReason')[0]
                .removeAttribute('style');

                decision[i]
                .parentElement
                .getElementsByClassName('cancel')[0]
                .addEventListener('click', (event) =>
                {
                    event.preventDefault();

                    decision[i].parentElement.getElementsByClassName('cancel')[0]
                    .setAttribute('style', 'display : none');
                    decision[i].parentElement.getElementsByClassName('rejectReason')[0]
                    .setAttribute('style', 'display : none');
                    decision[i].parentElement.getElementsByClassName('save')[0]
                    .setAttribute('style', 'display : none');
                    decision[i].parentElement.getElementsByClassName('accept')[0]
                    .removeAttribute('style');
                    decision[i].parentElement.getElementsByClassName('reject')[0]
                    .removeAttribute('style');
                });

                decision[i]
                .parentElement
                .getElementsByClassName('save')[0]
                .addEventListener('click', (event) =>
                {
                    event.preventDefault();

                    decision[i]
                    .parentElement
                    .setAttribute('style', 'display: none');

                    decision[i].parentElement.parentElement
                    .setAttribute('style', 'opacity: 0.5');

                     axios.post
                    (
                        '/decision',
                        {
                            user_id : decision[i].parentElement.id,
                            boolean : decision[i].className == 'accept' ? true : false
                        }
                    )
                    .then((result) =>
                    {
                        console.log(result);
                    })
                    .catch((err) =>
                    {
                        console.log('Error:\n', err);
                    })
                });

            });
        }
    })
    </script>

</body>