<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      Turk System
    </a>

    <ul class="nav navbar-nav">
      <li><a href="/home">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/grandstats">System Stats</a></li>
      <% if (user.local.usertype === 'superuser') { %>
        <li><a href="/user-apps">User Applications</a></li>
      <% } %>
      <% if (user.local.usertype === 'client') { %>
        <li><a href="/demand">Post Demand</a></li>
        <li><a href="/manage-accepted-demands">Manage Accepted Demands</a></li>

        <li><a href="/manage-demands">Manage Demands</a></li>
      <% } %>
      <% if (user.local.usertype === 'developer') { %>
        <li><a href="/bid">Bid on Demand</a></li>
      <% } %>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>

</div>
</nav>
