<!doctype html>
<html>
<head>
  <title>Contracted Demands</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
  <header>
    <% include ../partials/navbar %>
    <div class="page-header text-center">
      <h1>Here are the system demands you are currently working on</h1>
    </div>
  </header>
  <main>
    <div class="container">
      <div id="demands-list"></div>
    </div>
  <div id="user-id" style="display: none;"><%= user._id %></div>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/controllers/contractedDemands.js"></script>
</body>
</html>
