<!doctype html>
<html>
<head>
  <title>Post System Demand</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
  <header>
    <% include ../partials/navbar %>
    <div class="page-header text-center">
      <h1>Post a System Demand Here</h1>
    </div>
  </header>
  <main>
    <div class="container">
      <form action="/demand" method="post" onSubmit="alert('Demand successfully posted.');">
        <div class="form-group">
          <label>System Spec</label>
          <textarea type="text" class="form-control" name="spec"></textarea>
        </div>
        <div class="form-group">
          <label>Bidding Timeline</label>
          <input type="text" class="form-control" name="biddingtimeline">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Post</button>
      </form>
    </div>
  </main>
</body>
</html>
