<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
  <title>Deposit Money</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
  <header>
    <% include ../partials/navbar %>
    <div class="page-header text-center">
      <h1>Deposit money into your account here</h1>
    </div>
  </header>
  <main>
    <div class="container">

      <form action="/api/deposit-money" method="post">
        <div class="form-group non-superuser-only">
          <label>Deposit Amount ($) - No cents</label>
          <input type="number" pattern="\d*" class="form-control" name="deposit">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Deposit</button>
      </form>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</body>
</html>
