<!doctype html>
<html>
<head>
  <title>Grand System Statistics</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
  <header>
    <% include ../partials/navbar %>
    <div class="page-header text-center">
      <h1>Grand System Statistics Page</h1>
    </div>
  </header>
  <main>
    <div class="container">
      Rendered correctly
    </div>
  </main>
</body>
</html>