<!doctype html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
  <header>
    <% include ../partials/navbar %>
    <div class="page-header text-center">
      <h1>Home Page</h1>

    </div>
  </header>
  <main>
    <div class="container">
      <%if (user.local.accountStatus == 'poorperformance') {%>
        <h2>You have received a warning due to poor performance. </h2> 
        <form action="/send-protest" method="post" onSubmit="alert('Sucessfully Sent the Protesting Message');">
          <div class="form-group">
            <label>Send your Protest Message </label>
            <textarea class="form-control" name="message"></textarea>
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Send</button>
        </form>
      <%} %>
       <%if (user.local.accountStatus == 'irresponsibleevaluations') {%>
        <h2>You have received a warning due to irresponsible evaluations. </h2> 
        <form action="/send-protest" method="post" onSubmit="handleProtestSend()">
          <div class="form-group">
            <label>Message: </label>
            <textarea class="form-control" name="message"></textarea>
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Send</button>
        </form>
      <%} %>
      <div id="user-id" style="display: none;"><%= user._id %></div>
    </div>
  </main>
  <script type="text/javascript" src="/controllers/manageProtest.js"></script>
</body>
</html>
