<!doctype html>
<html>
<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <style>
    body { padding-top:80px; }
  </style>
</head>
<body>
  <header>
    <% include ../partials/navbar %>
    <div class="page-header text-center">
      <h1>Welcome!</h1>
      <h4>Please fill in more details about yourself</h4>
    </div>
  </header>
  <main>
    <div class="container">
      <form action="/updateInfo" method="post">
        <div class="form-group">
          <label>Resume</label>
          <input type="text" class="form-control" name="resume">
        </div>
        <div class="form-group">
          <label>Picture</label>
          <input type="text" class="form-control" name="picture">
        </div>
        <div class="form-group">
          <label>Interests</label>
          <input type="text" class="form-control" name="interests">
        </div>
        <div class="form-group">
          <label>Sample Work</label>
          <input type="text" class="form-control" name="samplework">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Update Info</button>
      </form>
    </div>
  </main>
</body>
</html>
